

body {
	margin: 0px;
}

p {
	float: left;
    margin-right: 200px;
}

#phone {
	position: fixed;
	left: 100px;
	margin: 50px 0px;
	height: 600px;
}

#top,
#bottom { 
	position: fixed;
	left: 0;
	right: 0;
	height: 50%;

}

#top {
	position: fixed;
	left: 0;
	right: 0;
	height: 40%;
	top:0;
	background-color: #517798;
}

#bottom {
	position: fixed;
	left: 0;
	right: 0;
	height: 60%;
	bottom: 0;
	background-color: white;
}



#whiteSpace {
	background: url(images/frame.png) no-repeat;
    position: fixed;
    left: 550px;
    right: -300px;
    margin: 150px 500px 0px 0px;
    display: inline-block;
    padding: 20px 20px;
}