

body {
	margin: 0px;
	font-family: 'Alegreya Sans', sans-serif;
	position: absolute;
}

p {
	font-family: 'Alegreya Sans', sans-serif;
	float: left;
    margin-right: 20px;
    padding-right: 20px;
    margin-top: 10px;
    font-size: larger;
}

h2 {
	color: #517798;
	 margin-top: 20px;
    padding-left: 20px;
    font-size: xx-large;
}

button {
	position: fixed;
	background-color: red;
	position: relative;
	left: 550px;
	bottom: 20px;
	top: 40px;

}

footer {
	display: inline-block;
    position: fixed;
    bottom: 0px;
    font-family: 'Alegreya Sans', sans-serif;
    right: auto;
    left: 400px;
}

#phone {
	position: fixed;
	left: 100px;
	margin: 50px 0px;
	height: 600px;
}

#top,
#bottom { 
	position: fixed;
	left: 0;
	right: 0;
	height: 50%;

}

#top {
	position: fixed;
	left: 0;
	top: 0px;
    right: 100px;
    width: 1400px;
    height: 350px;
	background-color: #517798;
}

#bottom {
	position: fixed;
	
}

#instaLogo {
	position: relative;
    top: 80px;
    left: 550px;
    bottom: 20px;
}


#whiteSpace {
	background: url(images/frame.png) no-repeat;
    position: absolute;
    width: 500px;
    left: 550px;
    right: -300px;
    margin: 190px 500px 0px 0px;
    display: inline-block;
    padding: 20px 20px;
    top:40px;
}

#house {
	top: 80px;
	left: 550px;
	bottom: 20px;
}