#blueBar{
	background: blue;
	margin: 0 ;	
}

body {
	
}

#top,
#bottom { 
	position: fixed;
	left: 0;
	right: 0;
	height: 50%;

}

#top {
	position: fixed;
	left: 0;
	right: 0;
	height: 40%;
	top:0;
	background-color: #5DBCD2;
}

#bottom {
	position: fixed;
	left: 0;
	right: 0;
	height: 60%;
	bottom: 0;
	background-color: white;
}